@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.membershipTable thead tr th:nth-child(1) {
  max-width: 180px;
}
.membershipTable tbody tr td {
  padding: 2px 16px !important;
}
.membershipTable tbody tr td:nth-child(1) {
  max-width: 180px;
  word-wrap: break-word !important;
}
.membershipTable tbody tr td:nth-child(1) p {
  width: 180px;
}